<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr" >
<head class="mb-5" th:include="~{ fragments/head::#head }"></head>
<body>

<header class="mb-5" th:include="~{ fragments/header::#header }"></header>

<main class="container">
    <h1>Liste des villes</h1>

    <a href="/ville/add" class="btn btn-primary">Ajouter une ville</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Code Postal</th>
            <th>Pays</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="ville : ${ villes }">
            <td th:text="${ ville.id }"></td>
            <td th:text="${ ville.nom }"></td>
            <td th:text="${ ville.codePostal }"></td>
            <td th:text="${ ville.paysByPaysCode.nom }"></td>
            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{'/ville/edit?id=' + ${ville.id}}" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button class="btn btn-danger btn-sm" th:onclick="|supprimer( ${ville.id} )|"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer th:include="~{ fragments/footer::#footer }"></footer>

<script>
    function supprimer(id){
        if (confirm("Êtes vous sur ?")){
            window.location = 'ville/delete?id=' + id;
        }
    }
</script>
</body>
</html>