<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head class="mb-5" th:include="~{ fragments/head::#head }"></head>
<body>
<header class="mb-5" th:include="~{ fragments/header::#header }"></header>

<main class="container">
    <h1 th:if="${ user == null }">Ajouter un utilisateur</h1>
    <h1 th:unless="${ user == null }">Editer un utilisateur</h1>
    <hr>

    <form name="monForm" action="" method="post">
        <div id="userForm">
            <div class="form-line mb-4">
                <label class="form-label">Nom d'utilisateur *</label>
                <input class="form-control" type="text" name="username" placeholder="Votre nom d'utilisateur" required
                       th:value="${user?.username}">
            </div>
            <div class="form-line mb-4">
                <label>Nom complet *</label>
                <input class="form-control" type="text" name="name" placeholder="Votre nom" required
                       th:value="${user?.name}">
            </div>

            <div class="form-line mb-4">
                <label class="form-label">Email *</label>
                <input class="form-control" type="email" name="email" placeholder="votre adresse email" required
                       th:value="${user?.email}">
            </div>

            <div class="form-line mb-4">
                <label class="form-label">Mot de passe *</label>
                <input class="form-control" type="password" name="password" placeholder="Votre mot de passe" required>
            </div>

            <div class="form-line mb-4">
                <label class="form-label">Photo de profil *</label>
                <input class="form-control" type="file" name="photouser" placeholder="lien de votre photo" accept="image/png, image/jpeg">
            </div>

        </div>

        <div class="form-line mb-4">
            <label class="form-label">Rôle *</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="ROLE_ADMIN"
                       th:checked="${ user?.roles == 'ROLE_ADMIN' }">
                <label class="form-check-label" for="inlineRadio1">Administrateur</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="inlineRadio2" value="ROLE_USER"
                       th:checked="${ user?.roles == 'ROLE_USER' }">
                <label class="form-check-label" for="inlineRadio2">Simple utilisateur</label>
            </div>
        </div>

        <div class="form-line mb-4">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

    </form>

</main>

<footer th:include="~{ fragments/footer::#footer }"></footer>

</body>
</html>